*{
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

body{
    background-color: aliceblue;
}

#sketch-area{
    display: flex;
    background-color: white;
    margin: 100px auto 0 auto;
    margin-top: -1px;
    flex-wrap: wrap;
    box-shadow: 10px 10px rgba(0,170,255,0.034);
}

.cell{
    border: 1px solid whitesmoke;
}

#slider-container{
    margin: 0 auto;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    width: 100%;
    background: rgba(200, 255, 238, 0.726);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider-value{
    margin: 0 auto;
    text-align: center;
}

#slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04aa6D;
    cursor: pointer;
}

.slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.reset, .eraser{
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    margin: auto 10px;
}