*{
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

body{
    background-color: aliceblue;
}

#sketch-area{
    display: flex;
    background-color: white;
    margin: 100px auto;
    margin-top: -1px;
    flex-wrap: wrap;
    box-shadow: 10px 10px rgba(0,170,255,0.034);
}

.cell{
    border: 1px solid whitesmoke;
}